= haml :map

%hr

- User.order(:uid).each do |user|
  - if user.zip_city.present?
    .well
      %h3= user.name
      
      %p
        - if user.public_address?
          = e user.address
          %br
        = e user.zip_city

        - if user.country.present?
          ,
          = e user.country

      %p
        %a{ href: "mailto:#{user.email}" }= user.email
      
      %dl
        - if user.public_address?
          %dt Telefon
          %dd= e user.phone

        - if user.custom1_name && !user.custom1_name.blank?
          %dt= user.custom1_name
          %dd= user.custom1_value

        - if user.custom2_name && !user.custom2_name.blank?
          %dt= user.custom2_name
          %dd= user.custom2_value
