= haml :map

%hr

- User.all.each do |user|
  - if user.zip_city.present?
    .well
      %h3= user.name
      %dl
        - if user.public_address?
          %dt Adresse
          %dd= e @user.address

        %dt PLZ &amp; Stadt
        %dd= e @user.zip_city

        - if user.country.present?
          %dt Land
          %dd= e @user.country

        - if user.public_address?
          %dt Telefon
          %dd= e @user.phone

        %dt Email-Addresse
        %dd= @user.email

        - if @user.custom1_name && !@user.custom1_name.blank?
          %dt= @user.custom1_name
          %dd= @user.custom1_value

        - if @user.custom2_name && !@user.custom2_name.blank?
          %dt= @user.custom2_name
          %dd= @user.custom2_value
