.container
  %h1{ style: 'font-size: 300%' }
    Hallo,
    = succeed '.' do
      = e @user.firstname
    %br
    %small{ style: 'font-size: 50%; color: #777' } Willkommen zurück zu deinen Erinnerungen.

  - if @user.address.nil? || @user.address.empty?
    .alert.alert-warning{ style: 'opacity: 0.8' } Wär' klasse, wenn du unten deine Adresse eintragen würdest. Vielleicht ändert sich deine Email ja mal, und dann müssen wir improvisieren.

.widecontainer.container
  - user = @user
  .well{ style: 'padding: 0; margin-top: 3em;box-shadow: 0 0 10px #888;border:0'}
    %div{ style: "background: black;position:relative"}
      .row
        %h1{ style: 'z-index:100;position:absolute;left:0;margin: 0; color: white; font-weight:300;padding-top: 0.5em;padding-left:0.5em'}= user.firstname
        %div{ style: 'position: absolute; left: calc(100% + 20px); top: 20px;'}
          %a.btn.btn-default{ href: '/my_avatar/edit' } Bild ändern
        .col-md-9.col-md-offset-3
          %div{ style: "background: url(/avatars/#{user.avatar_id}) 50% #{((user.avatar.eyeline || 0.35)*100).to_i}%; background-size:cover; min-height: 80px;border-top-left-radius:5px;border-top-right-radius:5px"}

    .row
      .col-md-10.col-md-offset-1{ style: "margin-top: 1em;margin-bottom:2em"}
        #display
          - if p = user.posts.last
            - text = "Etwas Neues schreiben"
            %blockquote<
              = p.body
              %footer= p.created_at.strftime("%d.%m.%Y")
          - else
            - text = "Was Tolleres hier hin schreiben"
            %blockquote.muted{ style: 'opacity: 0.5'}< Mr. und Mrs. Dursley im Ligusterweg Nummer 4 waren stolz darauf, ganz und gar normal zu sein, sehr stolz sogar.

          %div.btn.btn-primary{ onclick: 'document.getElementById("display").style.display="none";document.getElementById("form").style.display="block";'}= text
        #form{ style: 'display: none'}
          %h3 Neuer Status
          %form{ action: '/posts', method: 'post' }
            %textarea.form-control{ name: 'post[body]', style: 'width: 100%;box-sizing:border-box', cols: 100, rows: 3 }
            %br

            %input.btn.btn-primary{ type: 'submit', value: 'Speichern' }


.container
  .page-header#shouts
    %h3 Neueste Nachrichten
  %form.form-horizontal{ action: '/shouts', method: 'post', id: 'chat_form' }
    .form-group
      .col-sm-10
        %input.form-control{ type: 'text', name: 'shout[body]', size: 40, maxlength: 150, id: 'chat_message' }
      .col-sm-2
        %input.btn.btn-default{ type: 'submit', value: 'Senden' }

  %ul#chat
    <script src="https://js.pusher.com/2.0/pusher.min.js"></script>
    :javascript
      var pusher = new Pusher('#x{Pusher.key}'); // uses your APP KEY
      function renderMessage(msg) {
        var a = "<li><span class=author>"+msg.author+"</span>"+
          " <span class=time>("+msg.created_at+")</span>: "+
          " <span class=message>"+msg.body+"</span>";
        document.getElementById("chat").innerHTML += a
        return a;
      }

      var thingChannel = pusher.subscribe('chat');
      thingChannel.bind('message', function(message) {
        var el = renderMessage(message);
        $(el).effect("highlight", {}, 3000);
      });

      var latestMessages = JSON.parse('#{Shout.newest.reverse.map(&:client_attributes).to_json.gsub("'", "")}')

      latestMessages.forEach(function(m) {
        renderMessage(m)
      })



.container
  - lost_souls = @user.patrees_without_recent_post
  - if lost_souls.any?
    .page-header
      %h3 Bekannte Gesichter
    .row{ style: 'margin-top:1em;margin-bottom:1em'}
      - lost_souls.each do |u|
        .col-md-4
          %div{ style: "background: url(/avatars/#{u.avatar_id}) 50% #{((u.avatar.eyeline || 0.35)*100).to_i}%; background-size:cover; min-height: 80px; padding-top: 4em; text-align: center;-webkit-filter:saturate(0)"}
    %p
      == Hast du noch Kontakt zu #{lost_souls.map(&:firstname).join(", ").sub(/(.*), /, "\\1 und ")}? Ja? Klasse! Wir leider irgendwie nicht mehr&hellip; Wenn du sie mal siehst, richte doch aus, es wäre toll, wenn sie auch mal hier vorbei schauen würden.
      %span.muted
        Wenn sich bei jemandem die Email-Adresse geändert hat,
        %a{ href: 'mailto:mail@jonasschneider.com'} wir regeln das!


.container
  .page-header
    .pull-right
      %a.btn.btn-default{ href: '/all' } Alle Einträge anschauen
    %h3
      Was macht eigentlich...


.widecontainer.container
  - u = Post.where('created_at > ?', 1.year.ago-60.days).sample.user
  .well{ style: 'padding: 0; margin-top: 2em;box-shadow: 0 0 10px #888;border:0'}
    %div{ style: "background: black;position:relative"}
      .row
        %h1{ style: 'z-index:100;position:absolute;left:0;margin: 0; color: white; font-weight:300;padding-top: 0.5em;padding-left:0.5em'}= u.firstname
        .col-md-9.col-md-offset-3
          %div{ style: "background: url(/avatars/#{u.avatar_id}) 50% #{((u.avatar.eyeline || 0.35)*100).to_i}%; background-size:cover; min-height: 80px; border-top-left-radius:5px;border-top-right-radius:5px"}
    - if p = u.posts.last
      .row{ style: "margin-top: 1em"}
        .col-md-10.col-md-offset-1
          %blockquote<
            = p.body
            %footer= p.created_at.strftime("%d.%m.%Y")

.container
  .page-header
    %h3{ style: 'margin-top:2em;'}
      Stimmt das noch?
      %small Umzug, Hochzeit, etc.

  %dl
    %dt Adresse
    %dd= e @user.address

    %dt PLZ &amp; Stadt
    %dd= e @user.zip_city

    %dt Land
    %dd= e @user.country

    %dt Telefon
    %dd= e @user.phone

    %dt Email-Addresse
    %dd= @user.email

    - if @user.custom1_name && !@user.custom1_name.blank?
      %dt= @user.custom1_name
      %dd= @user.custom1_value

    - if @user.custom2_name && !@user.custom2_name.blank?
      %dt= @user.custom2_name
      %dd= @user.custom2_value


  Du kannst
  = succeed '.' do
    %a{ href: '/edit' } deine Kontaktdaten ändern


  %hr

  %h4.muted Die guten alten Zeiten.

  %p.muted
    Weißt du noch, damals...
    du warst Meister im
    = succeed ',' do
      %em= e @user.meta_meister

    und vielleicht bist du jetzt
    = succeed '.' do
      %em= e @user.meta_zukunft

    Damals nach dem Abi
    = succeed '.' do
      %em= e @user.meta_nachabi

    Ohne
    %em= e @user.meta_lebenswichtig
    hättest du das Abi aber nicht geschafft.

    Ach, und übrigens:
    %em= e @user.meta_nachruf

  %p.muted
    %strong
      Ein zufälliger Kommentar über dich aus der Abizeitung:
    %br
    %em= e @user.random_tag
