.container
  %h1{ style: 'font-size: 300%' }
    Hallo,
    = succeed '.' do
      = e @user.firstname
    %br
    %small{ style: 'font-size: 50%; color: #777' } Willkommen zurück zu deinen Erinnerungen.

.widecontainer.container
  - user = @user
  .well{ style: 'padding: 0; margin-top: 3em;box-shadow: 0 0 10px #888;border:0'}
    %div{ style: "background: black;position:relative"}
      .row
        %h1{ style: 'z-index:100;position:absolute;left:0;margin: 0; color: white; font-weight:300;padding-top: 0.5em;padding-left:0.5em'}= user.firstname
        %div{ style: 'position: absolute; left: calc(100% + 20px); top: 20px;'}
          .btn.btn-default Bild ändern
        .col-md-9.col-md-offset-3
          %div{ style: "background: url(/users/#{user.uid}/avatar) 50% #{((DEFAULT_AVATAR_EYELINE_POSITION[user.uid] || 0.35)*100).to_i}%; background-size:cover; min-height: 80px; -webkit-filter: saturate(0);border-top-left-radius:5px;border-top-right-radius:5px"}

    .row
      .col-md-10.col-md-offset-1{ style: "margin-top: 1em;margin-bottom:2em"}
        - if p = user.posts.last
          - text = "Was Neues schreiben"
          %blockquote<
            = p.body
            %footer= p.created_at.strftime("%d.%m.%Y")
        - else
          - text = "Was Besseres hier hin schreiben"
          %blockquote.muted< Mr. und Mrs. Dursley im Ligusterweg Nummer 4 waren stolz darauf, ganz und gar normal zu sein, sehr stolz sogar.

        %div.btn.btn-primary= text

  .clearfix

  %hr

  %a{ href: '/all' }
    = haml :map

  %p{ style: 'text-align: center'}
    %small.muted Klicke auf die Karte, um die Kontaktinfos der anderen anzuschauen!
  %hr

  %h2{ style: 'position: relative;'}
    %div{ style: 'position:absolute;top: -30px; left: -140px'}
      = avatar(@user)
    Stimmt das noch?
    %small Umzug, Hochzeit, etc.

  - if @user.address.nil? || @user.address.empty?
    .alert.alert-warning{ style: 'opacity: 0.8' } Wär' klasse, wenn du deine Adresse eintragen würdest. Vielleicht ändert sich deine Email ja mal, und dann müssen wir improvisieren.
  %dl
    %dt Adresse
    %dd= e @user.address

    %dt PLZ &amp; Stadt
    %dd= e @user.zip_city

    %dt Land
    %dd= e @user.country

    %dt Telefon
    %dd= e @user.phone

    %dt Email-Addresse
    %dd= @user.email

    - if @user.custom1_name && !@user.custom1_name.blank?
      %dt= @user.custom1_name
      %dd= @user.custom1_value

    - if @user.custom2_name && !@user.custom2_name.blank?
      %dt= @user.custom2_name
      %dd= @user.custom2_value


  Du kannst
  = succeed '.' do
    %a{ href: '/edit' } deine Kontaktdaten ändern


  %hr

  %h4.muted Die guten alten Zeiten.

  %p.muted
    Weißt du noch, damals...
    du warst Meister im
    = succeed ',' do
      %em= e @user.meta_meister

    und vielleicht bist du jetzt
    = succeed '.' do
      %em= e @user.meta_zukunft

    Damals nach dem Abi
    = succeed '.' do
      %em= e @user.meta_nachabi

    Ohne
    %em= e @user.meta_lebenswichtig
    hättest du das Abi aber nicht geschafft.

    Ach, und übrigens:
    %em= e @user.meta_nachruf

  %p.muted
    %strong
      Ein zufälliger Kommentar über dich aus der Abizeitung:
    %br
    %em= e @user.random_tag
