!!!5
%html
  %head
    %title instALUMNI
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    %link{ rel: 'stylesheet', href: '/assets/application.css'}

  %body
    .container
      #header
        %a{ href: '/' }
          %img{ src: '/assets/logo.png', alt: 'instALUMNI', style: 'margin:auto;display:block; ' }
        %h1
          /%small Abi Wan Kenobi — Möge G8 mit dir sein!
          Abi 2012 am Fichte-Gymnasium Karlsruhe
      - flash.each do |type, value|
        .alert{ :class => "alert-#{type.to_s}" }
          = value

      %hr

    = yield

    .container
      %hr
      %footer
        %p.muted.pull-right{ style: 'text-align: right' }
          instALUMNI von
          %a{ href: 'mailto:mail@jonasschneider.com' } Jonas Schneider
          und
          = succeed '.' do
            %a{ href: 'mailto:lu@0x83.eu' } Lukas Kramer
    <script src="//static.getclicky.com/js" type="text/javascript"></script>
    <script type="text/javascript">try{ clicky.init(#{ENV['CLICKY_ID']}); }catch(e){}</script>
    <noscript><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/#{ENV['CLICKY_ID']}ns.gif" /></noscript>
